.item{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    margin: 0;

    h3{
        width: 100%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size:20px;
        color: transparent;
        background: #666666;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        text-align: center;
        margin-bottom: 20px;

    }
    img{

        box-shadow: 0px 0px 10px grey;
        border-radius: 20px;

    }
    p{
        width: 200px;
        height: 400px;
        margin:20px 0px;
        text-align: center;
        box-shadow: 0px 0px 10px #000000;
        padding: 20px;
        border-radius: 20px;
        background-color: white;

    }
}
@media (min-width: 1440px){
    .item{
        display:flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 30vw;
    
    
    }
}
